body {
  margin: 0;
  background: #00a5be;
  font-family: system-ui;
  overflow-x: hidden;
  background-image: url('/images/asset-red.svg');
  background-position: left 200px top;
  background-repeat: no-repeat;
}









.navigation .text {
  display: inline-flex;
  margin-inline: 35px;
}


